{% extends "organizer/base.html" %}
{% load static %}

{% block title %}
	Contact details
{% endblock %}

{% block content %}
	<div class="contact-detail">
		<h3>Contact details:</h3>
		<h3>{{ contact.fname }} {{ contact.lname }}</h3>
		<h3>Personal phone: {{ contact.personal_phone }}</h3>
		<h3>Work phone: {{ contact.work_phone }}</h3>
		<h3>Address: {{ contact.address }}</h3>
	</div>
{% endblock %}


















































